.wrapper {
  margin: 0 24px;
}
.title {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 0.8px solid rgba(0, 0, 0, 0.24);
}

.quill {
  margin-top: 24px;
}
.editingArea {
  height: 400px !important;
}
